<div class="container">

  <div class="header">
    <div class="hometeam">
        PSG
    </div>

    <div class="scoreboard">
        3 : 2
    </div>

    <div class="awayteam">
        ASSE
    </div>
  </div>

  <div class="timer">
    12:32
  </div>

  <div class="formations">
    <div class="homeformation gradient">
      4 - 2 - 3 - 1
    </div>
    <div class="awayformation gradient">
      4 - 4 - 2
    </div>
  </div>

  <div class="teamcontainer">

    <div class="leftcolumn">

      <div class="playercard leftplayer">
        <p class="shirtnumber">1</p>
        <p class="name">Navas</p>
      </div>

      <div class="playercard leftplayer">
        <p class="shirtnumber">24</p>
        <p class="name">Florenzi</p>
      </div>

      <div class="playercard leftplayer">
        <p class="shirtnumber">4</p>
        <p class="name">Kehrer</p>
      </div>

      <div class="playercard leftplayer">
        <p class="shirtnumber">3</p>
        <p class="name">Kimpembe</p>
      </div>

      <div class="playercard leftplayer">
        <p class="shirtnumber">25</p>
        <p class="name">Bakker</p>
      </div>

      <div class="playercard leftplayer">
        <p class="shirtnumber">15</p>
        <p class="name">Pereira</p>
      </div>

      <div class="playercard leftplayer">
        <p class="shirtnumber">21</p>
        <p class="name">Herrera</p>
      </div>

      <div class="playercard leftplayer">
        <p class="shirtnumber">19</p>
        <p class="name">Sarabia</p>
      </div>

      <div class="playercard leftplayer">
        <p class="shirtnumber">12</p>
        <p class="name">Alcântara</p>
      </div>

      <div class="playercard leftplayer">
        <p class="shirtnumber">18</p>
        <p class="name">Moise</p>
      </div>

      <div class="playercard leftplayer">
        <p class="shirtnumber">7</p>
        <p class="name">MBappé</p>
      </div>

    </div>

    <div class="rightcolumn">

      <div class="playercard rightplayer">
        <p class="name">Green</p>
        <p class="shirtnumber">40</p>
      </div>

      <div class="playercard rightplayer">
        <p class="name">Debuchy</p>
        <p class="shirtnumber">26</p>
      </div>

      <div class="playercard rightplayer">
        <p class="name">Moukoudi</p>
        <p class="shirtnumber">2</p>
      </div>

      <div class="playercard rightplayer">
        <p class="name">Abou Cissé</p>
        <p class="shirtnumber">6</p>
      </div>

      <div class="playercard rightplayer">
        <p class="name">Trauco</p>
        <p class="shirtnumber">13</p>
      </div>

      <div class="playercard rightplayer">
        <p class="name">Youssouf</p>
        <p class="shirtnumber">28</p>
      </div>

      <div class="playercard rightplayer">
        <p class="name">Camara</p>
        <p class="shirtnumber">8</p>
      </div>

      <div class="playercard rightplayer">
        <p class="name">Neyou</p>
        <p class="shirtnumber">19</p>
      </div>

      <div class="playercard rightplayer">
        <p class="name">Monnet-Paquet</p>
        <p class="shirtnumber">22</p>
      </div>

      <div class="playercard rightplayer">
        <p class="name">Khazri</p>
        <p class="shirtnumber">10</p>
      </div>

      <div class="playercard rightplayer">
        <p class="name">Hamouma</p>
        <p class="shirtnumber">21</p>
      </div>

    </div>

  </div>

  <div class="benches">
    <p class="gradient">Benches</p>
  </div>

</div>
