<div class="container">

  <div class="header">
    <div class="hometeam">
        PSG
    </div>

    <div class="scoreboard">
        3 : 2
    </div>

    <div class="awayteam">
        ASSE
    </div>
  </div>

  <div class="timer">
    12:32
  </div>

  <div class="teamcontainer">

    <div class="leftcolumn">

      <div class="playercard leftplayer">
        <p class="position">GK</p>
        <p class="name">Navas</p>
        <p class="separator">|</p>
        <p class="number">1</p>
      </div>

      <div class="playercard leftplayer">
        <p class="position">RB</p>
        <p class="name">Florenzi</p>
        <p class="separator">|</p>
        <p class="number">24</p>
      </div>

      <div class="playercard leftplayer">
        <p class="position">RCD</p>
        <p class="name">Kehrer</p>
        <p class="separator">|</p>
        <p class="number">4</p>
      </div>

      <div class="playercard leftplayer">
        <p class="position">LCD</p>
        <p class="name">Kimpembe</p>
        <p class="separator">|</p>
        <p class="number">3</p>
      </div>

      <div class="playercard leftplayer">
        <p class="position">LB</p>
        <p class="name">Bakker</p>
        <p class="separator">|</p>
        <p class="number">25</p>
      </div>

      <div class="playercard leftplayer">
        <p class="position">RB</p>
        <p class="name">Pereira</p>
        <p class="separator">|</p>
        <p class="number">15</p>
      </div>

      <div class="playercard leftplayer">
        <p class="position">RB</p>
        <p class="name">Herrera</p>
        <p class="separator">|</p>
        <p class="number">21</p>
      </div>

    </div>

    <div class="rightcolumn">

      <div class="playercard rightplayer">
        <p class="number">3</p>
        <p class="separator">|</p>
        <p class="name">Kimpembe</p>
        <p class="position">LCD</p>

      </div>

    </div>

  </div>

</div>
